/* Ajustes generales de la página */
* {
  background-color: #dad7cd;
  font-family: "Roboto";
  /* font-family: 'Courier New', Courier, monospace; */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Estilos de la seccion principal */
main {
  margin: 100px;
  padding: 20px; 
  flex: 1;
}

/* Estilos de la barra de navegación del indice */
.navegacion {
  background-color: #a3b18a;
  display: flex; /* Activa Flexbox */
  justify-content: space-around; /* Ajusta para alinear los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */
  /* padding: 20px; */
  height: 100px;
  background-color: #a3b18a;
}

/* Estilos para el logo */
#logo {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* Estilos de la seccion de contacto */
.contacto {
  width: 50%; /* Ocupa el 80% del ancho de la pantalla */
  max-width: 100%; /* Asegura que no ocupe más del ancho de la pantalla */
  margin: 0 auto; /* Centrar horizontalmente la sección */
  box-sizing: border-box; /* Asegura que el padding no agregue ancho extra */
}

/* Estilos para los botones de la barra de navegación */
nav button {
  display: flex;
  justify-content:space-around ;
  align-items: center;
  width: 200px; /* Ancho fijo */
  height: 50px; /* Alto fijo */
  font-size: 16px;
  font-weight: 900;
  background-color: white; /* Ejemplo de color de fondo */
  color: black;
  border: 2px solid white; /* Borde de color blanco */
  border-radius: 15px; /* Bordes redondeados */
  cursor: pointer;
  padding: 0; /* Elimina el padding para evitar desbordamientos */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* Elimina el subrayado de los enlaces dentro de la barra de navegación */
nav a {
  text-decoration: none;
}

/* Estilos para el hover de los botones de la barra de navegación */
nav button:hover {
  background-color: #dad7cd; /* Cambia el color al pasar el mouse */
  border: 2px solid #dad7cd; /* Borde de color blanco */
  border-radius: 15px; /* Bordes redondeados */
}

/* estilospara los botones del formulario de contacto */
form button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  background-color: white; /* Ejemplo de color de fondo */
  color: black;
  border: 2px solid white; /* Borde de color blanco */
  border-radius: 15px; /* Bordes redondeados */
  cursor: pointer;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* Estilos para el hover de los botones del formulario de contacto */
form button:hover {
  background-color:gray; /* Cambia el color al pasar el mouse */
  border: 2px solid gray; /* Borde de color blanco */
  border-radius: 15px; /* Bordes redondeados */
}

/* Estilo para el footer */
footer {
  height: 80px;
   background-color: #344e41;
  font-size: 16px;
  font-weight: 900;
  color: white; /* Texto blanco */
  text-align: center; /* Centrar el texto horizontalmente */
  line-height: 80px; /* Igual a la altura del footer para centrar verticalmente */
}


/* Estilo para los campos de ingreso de texto del formulario */
.contacto form {
  max-width: 600px;
  margin: 0 auto;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form-group label {
  width: 100px; /* Ajusta el ancho de las etiquetas */
  margin-right: 10px;
  text-align: right; /* Alinea el texto de las etiquetas a la derecha */
}
.form-group input,
.form-group textarea {
  flex: 1; /* Permite que el campo de entrada ocupe el espacio restante */
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}


/* Estilo para la imagen de la seccion clientes */
.clientes img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
}

/* estilo para la secccion de fotos de la pagina index */
.equipos_instalados img {
  margin: 20px; /* Agrega un margen de 20px alrededor de cada imagen */
}

/* estilo para las imágenes de la seccion equipos instalados */
.equipos_instalados img {
    width: 30%; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px; /* Agrega un margen de 20px alrededor de cada imagen */
    padding: 5px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra suave */
}


/* Estilo para la seccion asentria */
.asentria iframe {
    width: 60%; /* Ajusta el ancho al 50% del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    aspect-ratio: 16 / 9; /* Mantiene una relación de aspecto de 16:9 */
    padding: 5px;
     margin: 20px; /* Agrega un margen de 20px alrededor de cada imagen */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* estilo para las imágenes de la seccion clientes */
.clientes img {
    width: 65%; /* Usa porcentaje para adaptarse al ancho del contenedor */
    /* O usa vw si deseas que la imagen sea relativa a la ventana del navegador */
    /* width: 40vw; */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para las imagenes de la seccion equipos instalados */
.imagenes-column {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: left; /* Centra las imágenes horizontalmente */
  gap: 20px; /* Espacio entre las imágenes */
}

.imagenes-column img {
  width: 100%; /* Ajusta al tamaño del contenedor */
  max-width: 300px; /* Limita el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
  border-radius: 10px; /* Opcional: Esquinas redondeadas */
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2); /* Opcional: Sombra suave */
}


    
