.image-frame {
    width: 100%;
    height: 300px; /* Altura reducida */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem; /* Reducir espacio entre imagen y texto */
    overflow: hidden;
    background-color: #f8f9fa;
}

.image-frame img {
    max-height: 100%;
    max-width: 100%;
}

.card {
    height: auto; /* Altura ajustable automáticamente */
    cursor: pointer; /* Cambia el cursor a mano al pasar el mouse */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 1rem; /* Reducir padding inferior */
}

.card-title {
    margin-bottom: 0.5rem; /* Reducir espacio entre título y cantidad */
    text-align: center;
}

.quantity-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem; /* Reducir espacio entre texto y cantidad */
}

.quantity-section input {
    width: 200px; /* Ancho del campo numérico */
    margin-right: 1rem; /* Aumentar espacio entre campo y botón */
}

.quantity-section button {
    white-space: nowrap; /* Evitar que el texto del botón se divida */
}
