* {
  font-family: "Roboto";
}

body {
  margin: 0;
  background-color: rgb(242, 247, 241);
  height: 100%;
}

/* Estilos de la seccion principal */
main {
  margin: 10px;
  padding: 10px;
}

.topnav {
  background-color: #a3b18a;
  min-height: 90px;
}

.topnav a:not(:has(img)) {
  display: inline-flex;
  margin: 0px 20px 0px 20px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav img:not(:has(a)) {
  display: inline-flex;
  margin: 20px 0px 0px 10px;
}

.topnav a:hover:not(:has(img )) {
  /* Aplica el hover solo a los enlaces de texto (no al logo) */
  color: black;
  font-style: italic;
}

.icon{
  margin: 20px !important;
}

/* Para que la hamburguesa no se muestre hasta que sea necesario */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 815px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 815px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


* Estilos para la sección de imágenes */
.imagenes {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.imagenes-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.imagenes-column img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para botones del formulario de contacto */
form button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

form button:hover {
  background-color: #dad7cd;
  border: 2px solid #dad7cd;
  border-radius: 15px;
}

/* Estilo para el footer */
footer {
  height: 80px;
  background-color: #344e41;
  font-size: 16px;
  font-weight: 900;
  color: white;
  text-align: center;
  line-height: 80px;
}


/* Estilos específicos para formularios */
.contacto form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

.form-group input,
.form-group textarea {
  flex: 1;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}
